support vCard Format Extensions:RCF 6474 Place of Birth, Place and Date of Death

### Checklist

- [X] I made sure that there are **no existing issues** - [open](https://github.com/FossifyOrg/Contacts/issues) or [closed](https://github.com/FossifyOrg/Contacts/issues?q=is%3Aissue+is%3Aclosed) - to which I could contribute my information.
- [X] I made sure that there are **no existing discussions** - [open](https://github.com/FossifyOrg/Contacts/discussions) or [closed](https://github.com/FossifyOrg/Contacts/discussions?discussions_q=is%3Aclosed) - to which I could contribute my information.
- [X] I have read the FAQs inside the app (Menu -> About -> FAQs) and my problem isn't listed.
- [X] **I have taken the time to fill in all the required details. I understand that the bug report will be dismissed otherwise.**
- [X] This issue contains only one feature request.
- [X] I have read and understood the [contribution guidelines](https://github.com/FossifyOrg/Contacts/blob/master/CONTRIBUTING.md).
- [X] I optionally [donated](https://fossify.org/donate) to support the Fossify mission.

### Feature description

this is a proposed standard and i know i would find it most useful in tracking people who have passed away.
https://www.rfc-editor.org/rfc/rfc6474.html
The base vCard 4.0 specification defines a large number of
   properties, including date of birth.  This specification adds three
   new properties to vCard 4.0: place of birth, place of death, and date
   of death.
there just needs a way to input the info into the app.

### Why do you want this feature?

as i get older there is an ever greater number of people i know who have died.
this would be a good way to keep track while keeping their info in my contacts
you cant put anniversary in as "death" 

needed contacts info is ever expanding for more and more important info. 
this is just one step that way

### Additional information

Introduction

   The base vCard 4.0 specification [[RFC6350](https://www.rfc-editor.org/rfc/rfc6350)] defines a large number of
   properties, including date of birth.  This specification adds three
   new properties to vCard 4.0: place of birth, place of death, and date
   of death.

[1.1](https://www.rfc-editor.org/rfc/rfc6474.html#section-1.1).  Terminology Used in This Document

   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this
   document are to be interpreted as described in [[RFC2119](https://www.rfc-editor.org/rfc/rfc2119)].

   Syntax specifications shown here use the augmented Backus-Naur Form
   (ABNF) as described in [[RFC5234](https://www.rfc-editor.org/rfc/rfc5234)], and are specified as in the base
   vCard specification [[RFC6350](https://www.rfc-editor.org/rfc/rfc6350)].

[2](https://www.rfc-editor.org/rfc/rfc6474.html#section-2).  Identification Property Extensions

[2.1](https://www.rfc-editor.org/rfc/rfc6474.html#section-2.1).  Property: BIRTHPLACE

   Namespace:

   Property name:  BIRTHPLACE

   Purpose:  To specify the place of birth of the object the vCard
             represents.

   Value type:  A single text value (default) or a single URI value.

   Cardinality:  *1

   Property parameters:  VALUE, LANGUAGE



   Description:

   Format definition:

      BIRTHPLACE-param =  "VALUE=" ("text" / "uri")
      BIRTHPLACE-value =  text / uri
         ; Value type and VALUE parameter MUST match.

      BIRTHPLACE-param =/  altid-param / language-param / any-param

   Examples:

      BIRTHPLACE:Babies'R'Us Hospital
      BIRTHPLACE;VALUE=uri:http://example.com/hospitals/babiesrus.vcf
      BIRTHPLACE;VALUE=uri:geo:46.769307,-71.283079

[2.2](https://www.rfc-editor.org/rfc/rfc6474.html#section-2.2).  Property: DEATHPLACE

   Namespace:

   Property name:  DEATHPLACE

   Purpose:  To specify the place of death of the object the vCard
             represents.

   Value type:  A single text value (default) or a single URI value.

   Cardinality:  *1

   Property parameters:  VALUE, LANGUAGE

   Description:

   Format definition:

      DEATHPLACE-param =  "VALUE=" ("text" / "uri")
      DEATHPLACE-value =  text / uri
         ; Value type and VALUE parameter MUST match.

      DEATHPLACE-param =/  altid-param / language-param / any-param

   Examples:

      DEATHPLACE:Aboard the Titanic\, near Newfoundland
      DEATHPLACE;VALUE=uri:http://example.com/ships/titanic.vcf
      DEATHPLACE;VALUE=uri:geo:41.731944,-49.945833



[2.3](https://www.rfc-editor.org/rfc/rfc6474.html#section-2.3).  Property: DEATHDATE

   Namespace:

   Property name:  DEATHDATE

   Purpose:  To specify the date of death of the object the vCard
             represents.

   Value type:  The default is a single date-and-or-time value.  It can
                also be reset to a single text value.

   Cardinality:  *1

   Property parameters:  VALUE, CALSCALE, LANGUAGE

      CALSCALE can only be present when the value is a
      date-and-or-time value and actually contains a date or date-time.
      LANGUAGE can only be present when the value is text.

   Description:  The presence of a DEATHDATE property indicates that the
                 subject of the vCard is known to be dead.  The absence
                 of this property makes no statement one way or the
                 other.

   Format definition:

      DEATHDATE-param =  DEATHDATE-param-date / DEATHDATE-param-text
      DEATHDATE-value =  date-and-or-time / text
         ; Value type and VALUE parameter MUST match.

      DEATHDATE-param-date =  "VALUE=date-and-or-time" / calscale-param
         ; calscale-param can only be present when DEATHDATE-value is
         ; date-and-or-time and actually contains a date or date-time.

      DEATHDATE-param-date =  "VALUE=text" / language-param

      DEATHDATE-param =/  altid-param / any-param

   Examples:

      DEATHDATE:19960415
      DEATHDATE:--0415
      DEATHDATE;19531015T231000Z
      DEATHDATE;VALUE=text:circa 1800

It's a duplicate of https://github.com/FossifyOrg/Contacts/issues/85.